Ejercicios_EFCore/bin/*.*
Ejercicios_EFCore/bin/Debug/*.*

Ejercicios_EFCore/obj/*.*
Ejercicios_EFCore/obj/Debug/*.*

Ejercicios_EFCore/ChangeTracker/bin/*.*
Ejercicios_EFCore/Configurations/bin/*.*
Ejercicios_EFCore/Conventions/bin/*.*
Ejercicios_EFCore/Conventions_one_to_many/bin/*.*
Ejercicios_EFCore/Conventions_one_to_one/bin/*.*
Ejercicios_EFCore/Disconnected_Entity_Graph/bin/*.*

Ejercicios_EFCore/Disconnected_Scenario_Delete/bin/*.*
Ejercicios_EFCore/Disconnected_Scenario_Insert/bin/*.*
Ejercicios_EFCore/Disconnected_Scenario_Update/bin/*.*
Ejercicios_EFCore/Fluent_API_many_to_many/bin/*.*
Ejercicios_EFCore/Fluent_API_one_to_many/bin/*.*
Ejercicios_EFCore/Fluent_API_one_to_one/bin/*.*

Ejercicios_EFCore/Querying/bin/*.*
Ejercicios_EFCore/Raw_SQL_Queries/bin/*.*
Ejercicios_EFCore/Saving_Data/bin/*.*

Ejercicios_EFCore/ChangeTracker/bin/Debug/*.*
Ejercicios_EFCore/Configurations/bin/Debug/*.*
Ejercicios_EFCore/Conventions/bin/Debug/*.*
Ejercicios_EFCore/Conventions_one_to_many/bin/Debug/*.*
Ejercicios_EFCore/Conventions_one_to_one/bin/Debug/*.*
Ejercicios_EFCore/Disconnected_Entity_Graph/bin/Debug/*.*

Ejercicios_EFCore/Disconnected_Scenario_Delete/bin/Debug/*.*
Ejercicios_EFCore/Disconnected_Scenario_Insert/bin/Debug/*.*
Ejercicios_EFCore/Disconnected_Scenario_Update/bin/Debug/*.*
Ejercicios_EFCore/Fluent_API_many_to_many/bin/Debug/*.*
Ejercicios_EFCore/Fluent_API_one_to_many/bin/Debug/*.*
Ejercicios_EFCore/Fluent_API_one_to_one/bin/Debug/*.*

Ejercicios_EFCore/Querying/bin/Debug/*.*
Ejercicios_EFCore/Raw_SQL_Queries/bin/Debug/*.*
Ejercicios_EFCore/Saving_Data/bin/Debug/*.*



Ejercicios_EFCore/ChangeTracker/obj/*.*
Ejercicios_EFCore/Configurations/obj/*.*
Ejercicios_EFCore/Conventions/obj/*.*
Ejercicios_EFCore/Conventions_one_to_many/obj/*.*
Ejercicios_EFCore/Conventions_one_to_one/obj/*.*
Ejercicios_EFCore/Disconnected_Entity_Graph/obj/*.*

Ejercicios_EFCore/Disconnected_Scenario_Delete/obj/*.*
Ejercicios_EFCore/Disconnected_Scenario_Insert/obj/*.*
Ejercicios_EFCore/Disconnected_Scenario_Update/obj/*.*
Ejercicios_EFCore/Fluent_API_many_to_many/obj/*.*
Ejercicios_EFCore/Fluent_API_one_to_many/obj/*.*
Ejercicios_EFCore/Fluent_API_one_to_one/obj/*.*

Ejercicios_EFCore/Querying/obj/*.*
Ejercicios_EFCore/Raw_SQL_Queries/obj/*.*
Ejercicios_EFCore/Saving_Data/obj/*.*


Ejercicios_EFCore/ChangeTracker/obj/Debug/*.*
Ejercicios_EFCore/Configurations/obj/Debug/*.*
Ejercicios_EFCore/Conventions/obj/Debug/*.*
Ejercicios_EFCore/Conventions_one_to_many/obj/Debug/*.*
Ejercicios_EFCore/Conventions_one_to_one/obj/Debug/*.*
Ejercicios_EFCore/Disconnected_Entity_Graph/obj/Debug/*.*

Ejercicios_EFCore/Disconnected_Scenario_Delete/obj/Debug/*.*
Ejercicios_EFCore/Disconnected_Scenario_Insert/obj/Debug/*.*
Ejercicios_EFCore/Disconnected_Scenario_Update/obj/Debug/*.*
Ejercicios_EFCore/Fluent_API_many_to_many/obj/Debug/*.*
Ejercicios_EFCore/Fluent_API_one_to_many/obj/Debug/*.*
Ejercicios_EFCore/Fluent_API_one_to_one/obj/Debug/*.*

Ejercicios_EFCore/Querying/obj/Debug/*.*
Ejercicios_EFCore/Raw_SQL_Queries/obj/Debug/*.*
Ejercicios_EFCore/Saving_Data/obj/Debug/*.*